<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>My website</title>
</head>
<body>

    <div>
        <h1>Welcome to this website!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vero labore quia, fugit doloremque reprehenderit nulla commodi placeat qui! Velit praesentium minus aliquid commodi repudiandae nemo eum aspernatur consequatur, maiores eos mollitia ratione expedita, dolores fugiat quas assumenda harum unde. Doloremque commodi sed eos repudiandae totam iusto nostrum quam impedit!</p>
    </div>
    
</body>
</html>